<h1 style='color: green; font-size: 36px; font-weight: bold;'>Data Science - Análise do Enem</h1>

# <a name='descricao'>Descrição</a>
Esta análise visa observar o impacto causado, devido a fatores socioeconômicos, no desempenho da prova objetiva de <b>Matemática e Suas Tecnologias</b>, sendo esta uma constituinte do Exame Nacional do Ensino Médio (Enem).<br><br> Para essa análise, será utiliza como amostra alunos dentre 16 a 18 anos, concluintes recentes, ou próximos de concluir, o ensino médio regular.<br>
A base de dados utilizada foram os microdados do Enem efetuados no ano de 2021. Disponibilizados pelo Inep no link:
https://www.gov.br/inep/pt-br/acesso-a-informacao/dados-abertos/microdados/enem

### Descrição das features selecionadas:
<ul style='font-size: 14px; line-height: 1,5 ; text-align: justify;'>
    <li><b>TP_FAIXA_ETARIA</b> - Faixa etária separada por categorias que vão de 1 (menor de 17 anos) até 20 (maior de 70 anos)</li>
    <li><b>TP_SEXO</b> - Sexo separado em M (masculino) e F (feminino).</li>
    <li><b>TP_COR_RACA</b> - Cor/raça, representado por números. Sendo 0, não informado; 1, branca; 2, preta; 3, parda; 4, amarela; 5, indigena; 6, não dispões da informação.</li>
    <li><b>TP_ST_CONCLUSAO</b> - Situação de conclusão do Ensino Médio. Sendo 1, já concluí o Ensino Médio; 2, cursando e conclusão em 2021; 3, cursando e concluirá após 2021; 4, Não concluiu e não está cursando.</li>
    <li><b>TP_ESCOLA</b> - Tipo de escola do Ensino Médio. Sendo 1, não respondeu; 2, Pública; 3, privada.</li>    
    <li><b>NO_MUNICIPIO_ESC</b> - Nome do município da escola.</li>    
    <li><b>SG_UF_ESC</b> - Sigla da Unidade da Federação da escola.</li>
    <li><b>TP_LOCALIZACAO_ESC</b> - Localização da escola, se é área urbana ou rural.</li>
    <li><b>NU_NOTA_MT</b> - Nota da prova de matemática.</li>
    <li><b>Q0XX</b> - Questões do questionário socioeconômico, que vão de Q001 até Q025.</li>
</ul>

# <a name='indice'>Índice</a>
* [Descrição](#descricao)
* [Índice](#indice)
* [1. Importando Bibliotecas e Base de Dados](#secao_1)
* [2. Conhecendo e Tratando a Base de Dados](#secao_2)
* [3. Análise Descritiva](#secao_3)
* [4. Comportamento da Variável Dependente](#secao_4)
* [5. Análise de Outliers](#secao_5)
* [6. Gráficos](#secao_6) 
* [7. Transformação dos Dados](#secao_7)
* [X. Outras seções/etapas a depender do objetivo](#secao_x)
* [Conclusão](#conclusao)

#  <a name="secao_1"><font style='font-size: 30px;'>1 Importando Bibliotecas e Base de Dados</font></a>
<hr style='border: 1px solid cyan;'>

[voltar ao índice](#indice)

In [2]:
import pandas as pd

In [3]:
enem_df = pd.read_csv('dados/MICRODADOS_ENEM_2021.csv', encoding = 'latin_1', sep=';')

#  <a name="secao_2">2. Conhecendo e Tratando a Base de Dados</a>
<hr style='border: 1px solid cyan;'>

[voltar ao índice](#indice)

#### Informações gerais

Aplicar: 
* .info()
* .head()
* .shape
* .dtypes
* <font color='red'>.describe()</font> Obs: aplicável a variáveis quantitativas e já normalizadas
* etc

Obs: texto em vermelho são parâmetros a serem incluídos no modelo de notebook, visando sua melhoria

In [4]:
enem_df.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3389832 entries, 0 to 3389831
Data columns (total 76 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   NU_INSCRICAO            3389832 non-null  int64
 1   NU_ANO                  3389832 non-null  int64
 2   TP_FAIXA_ETARIA         3389832 non-null  int64
 3   TP_SEXO                 3389832 non-null  object
 4   TP_ESTADO_CIVIL         3389832 non-null  int64
 5   TP_COR_RACA             3389832 non-null  int64
 6   TP_NACIONALIDADE        3389832 non-null  int64
 7   TP_ST_CONCLUSAO         3389832 non-null  int64
 8   TP_ANO_CONCLUIU         3389832 non-null  int64
 9   TP_ESCOLA               3389832 non-null  int64
 10  TP_ENSINO               1096828 non-null  float64
 11  IN_TREINEIRO            3389832 non-null  int64
 12  CO_MUNICIPIO_ESC        813806 non-null   float64
 13  NO_MUNICIPIO_ESC        813806 non-null   object
 14  CO_UF_ESC               813806 non-null   float64
 15  SG_UF_ESC               813806 non-null   object
 16  TP_DEPENDENCIA_ADM_ESC  813806 non-null   float64
 17  TP_LOCALIZACAO_ESC      813806 non-null   float64
 18  TP_SIT_FUNC_ESC         813806 non-null   float64
 19  CO_MUNICIPIO_PROVA      3389832 non-null  int64
 20  NO_MUNICIPIO_PROVA      3389832 non-null  object
 21  CO_UF_PROVA             3389832 non-null  int64
 22  SG_UF_PROVA             3389832 non-null  object
 23  TP_PRESENCA_CN          3389832 non-null  int64
 24  TP_PRESENCA_CH          3389832 non-null  int64
 25  TP_PRESENCA_LC          3389832 non-null  int64
 26  TP_PRESENCA_MT          3389832 non-null  int64
 27  CO_PROVA_CN             2245844 non-null  float64
 28  CO_PROVA_CH             2378379 non-null  float64
 29  CO_PROVA_LC             2378379 non-null  float64
 30  CO_PROVA_MT             2245844 non-null  float64
 31  NU_NOTA_CN              2245844 non-null  float64
 32  NU_NOTA_CH              2378379 non-null  float64
 33  NU_NOTA_LC              2378379 non-null  float64
 34  NU_NOTA_MT              2245844 non-null  float64
 35  TX_RESPOSTAS_CN         2245844 non-null  object
 36  TX_RESPOSTAS_CH         2378379 non-null  object
 37  TX_RESPOSTAS_LC         2378379 non-null  object
 38  TX_RESPOSTAS_MT         2245844 non-null  object
 39  TP_LINGUA               3389832 non-null  int64
 40  TX_GABARITO_CN          2245844 non-null  object
 41  TX_GABARITO_CH          2378379 non-null  object
 42  TX_GABARITO_LC          2378379 non-null  object
 43  TX_GABARITO_MT          2245844 non-null  object
 44  TP_STATUS_REDACAO       2378379 non-null  float64
 45  NU_NOTA_COMP1           2378379 non-null  float64
 46  NU_NOTA_COMP2           2378379 non-null  float64
 47  NU_NOTA_COMP3           2378379 non-null  float64
 48  NU_NOTA_COMP4           2378379 non-null  float64
 49  NU_NOTA_COMP5           2378379 non-null  float64
 50  NU_NOTA_REDACAO         2378379 non-null  float64
 51  Q001                    3389830 non-null  object
 52  Q002                    3389830 non-null  object
 53  Q003                    3389830 non-null  object
 54  Q004                    3389830 non-null  object
 55  Q005                    3389830 non-null  float64
 56  Q006                    3389830 non-null  object
 57  Q007                    3389830 non-null  object
 58  Q008                    3389830 non-null  object
 59  Q009                    3389830 non-null  object
 60  Q010                    3389830 non-null  object
 61  Q011                    3389830 non-null  object
 62  Q012                    3389830 non-null  object
 63  Q013                    3389830 non-null  object
 64  Q014                    3389830 non-null  object
 65  Q015                    3389830 non-null  object
 66  Q016                    3389830 non-null  object
 67  Q017                    3389830 non-null  object
 68  Q018                    3389830 non-null  object
 69  Q019                    3389830 non-null  object
 70  Q020                    3389830 non-null  object
 71  Q021                    3389830 non-null  object
 72  Q022                    3389830 non-null  object
 73  Q023                    3389830 non-null  object
 74  Q024                    3389830 non-null  object
 75  Q025                    3389830 non-null  object
dtypes: float64(22), int64(17), object(37)
memory usage: 1.9+ GB

In [4]:
enem_df.head()

,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,210053865474,2021,5,F,1,1,1,1,3,1,...,A,A,A,B,A,A,B,A,B,B
1,210052384164,2021,12,M,1,1,1,1,11,1,...,A,A,A,B,A,A,C,A,A,A
2,210052589243,2021,13,F,3,1,1,1,15,1,...,B,A,A,B,A,A,C,B,B,B
3,210052128335,2021,3,M,1,3,1,2,0,2,...,A,A,A,B,A,A,B,A,B,B
4,210051353021,2021,2,F,1,3,1,2,0,2,...,B,A,A,B,A,B,E,A,B,B

In [5]:
enem_df.shape

(3389832, 76)

#### Obtendo amostra e features pertinentes

In [6]:
enem_df.columns

Index(['NU_INSCRICAO', 'NU_ANO', 'TP_FAIXA_ETARIA', 'TP_SEXO',
       'TP_ESTADO_CIVIL', 'TP_COR_RACA', 'TP_NACIONALIDADE', 'TP_ST_CONCLUSAO',
       'TP_ANO_CONCLUIU', 'TP_ESCOLA', 'TP_ENSINO', 'IN_TREINEIRO',
       'CO_MUNICIPIO_ESC', 'NO_MUNICIPIO_ESC', 'CO_UF_ESC', 'SG_UF_ESC',
       'TP_DEPENDENCIA_ADM_ESC', 'TP_LOCALIZACAO_ESC', 'TP_SIT_FUNC_ESC',
       'CO_MUNICIPIO_PROVA', 'NO_MUNICIPIO_PROVA', 'CO_UF_PROVA',
       'SG_UF_PROVA', 'TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC',
       'TP_PRESENCA_MT', 'CO_PROVA_CN', 'CO_PROVA_CH', 'CO_PROVA_LC',
       'CO_PROVA_MT', 'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_MT',
       'TX_RESPOSTAS_CN', 'TX_RESPOSTAS_CH', 'TX_RESPOSTAS_LC',
       'TX_RESPOSTAS_MT', 'TP_LINGUA', 'TX_GABARITO_CN', 'TX_GABARITO_CH',
       'TX_GABARITO_LC', 'TX_GABARITO_MT', 'TP_STATUS_REDACAO',
       'NU_NOTA_COMP1', 'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4',
       'NU_NOTA_COMP5', 'NU_NOTA_REDACAO', 'Q001', 'Q002', 'Q003', 'Q004',
       'Q005', 'Q006', 'Q007', 'Q008', 'Q009', 'Q010', 'Q011', 'Q012', 'Q013',
       'Q014', 'Q015', 'Q016', 'Q017', 'Q018', 'Q019', 'Q020', 'Q021', 'Q022',
       'Q023', 'Q024', 'Q025'],
      dtype='object')

* Serão selecionada as features as quais sejam pertinentes para o objetivo de análise. <br>
* Apesar de desejável, a coluna TP_ENSINO contém muitos valores faltantes, portanto não será inclusa. <br>
* A feature TP_PRESENCA_MT possui certa redundância, havendo baixa quantidade de eliminados na prova, permite que esssa feature seja melhor representada pela NU_NOTA_MT. Pois todos que compareceram à prova, obtiveram nota. <br>
* O conjunto de features que diz respeito ao local de aplicação das provas não será utilizado nesta análise. Em contrapartida, aquelas que dizem respeito ao local de estudos do aluno, serão utilizadas, porém há muitos registros faltantes, portanto haverá de receber um outro direcionamento.

In [5]:
alunos_df = enem_df[['TP_FAIXA_ETARIA', 'TP_SEXO',
       'TP_COR_RACA', 'TP_ST_CONCLUSAO','TP_ESCOLA', 
       'NO_MUNICIPIO_ESC', 'SG_UF_ESC',
       'TP_LOCALIZACAO_ESC', 'NU_NOTA_MT',      
       'Q001', 'Q002', 'Q003', 'Q004',
       'Q005', 'Q006', 'Q007', 'Q008', 'Q009', 'Q010', 'Q011', 'Q012', 'Q013',
       'Q014', 'Q015', 'Q016', 'Q017', 'Q018', 'Q019', 'Q020', 'Q021', 'Q022',
       'Q023', 'Q024', 'Q025']]

### Consolidando base de dados

#### Selecionando alunos na faixa etária entre 17 e 18 anos

In [6]:
mat_alunos_df = alunos_df.loc[(alunos_df['TP_FAIXA_ETARIA']>=2) & (alunos_df['TP_FAIXA_ETARIA']<=3)]

#### Filtrar para concluintes recentes e próximos de concluir

In [7]:
mat_alunos_df = mat_alunos_df.loc[(mat_alunos_df['TP_ST_CONCLUSAO']<=2)]

#### Excluir valores faltantes da coluna NU_NOTA_MT

In [8]:
mat_alunos_df = mat_alunos_df.dropna(subset='NU_NOTA_MT')

#### Excluir demais valores faltantes

Como há muitos valores faltantes quanto às features de localização (CO_MUNICIPIO_ESC, NO_MUNICIPIO_ESC, CO_UF_ESC, SG_UF_ESC, TP_DEPENDENCIA_ADM_ESC e TP_LOCALIZACAO_ESC), a partir deste ponto há algumas alternativas. Citando duas delas:
* preencher os valores faltantes;
* descartar esses registros.

Devido a riqueza e variabilidade das features, seguirei com a segunda das alternativas. A qual, apesar de reduzir ainda mais o dataset, evitaria possíveis distorções e conclusões errôneas nas etapas seguintes.

In [9]:
mat_alunos_df = mat_alunos_df.dropna()

### Tratar features qualitativas

In [112]:
mat_alunos_df.columns

Index(['TP_FAIXA_ETARIA', 'TP_SEXO', 'TP_COR_RACA', 'TP_ST_CONCLUSAO',
       'TP_ESCOLA', 'NO_MUNICIPIO_ESC', 'SG_UF_ESC', 'TP_LOCALIZACAO_ESC',
       'NU_NOTA_MT', 'Q001', 'Q002', 'Q003', 'Q004', 'Q005', 'Q006', 'Q007',
       'Q008', 'Q009', 'Q010', 'Q011', 'Q012', 'Q013', 'Q014', 'Q015', 'Q016',
       'Q017', 'Q018', 'Q019', 'Q020', 'Q021', 'Q022', 'Q023', 'Q024', 'Q025'],
      dtype='object')

#### TP_FAIXA_ETARIA

In [10]:
mat_alunos_df.TP_FAIXA_ETARIA = mat_alunos_df.TP_FAIXA_ETARIA.map({2:'17', 3:'18'})

#### TP_SEXO

In [11]:
mat_alunos_df.TP_SEXO = mat_alunos_df.TP_SEXO.map({'M':'Masculino', 'F':'Feminino'})

#### TP_COR_RACA

In [12]:
mat_alunos_df.TP_COR_RACA = mat_alunos_df.TP_COR_RACA.map(
    {0:'Não declarado', 1:'Branca', 2:'Preta', 3:'Parda', 4:'Amarela', 5:'Indígena', 6:'Não dispõe da informação'})

#### TP_ST_CONCLUSAO

In [116]:
mat_alunos_df.TP_ST_CONCLUSAO.unique()

array([2], dtype=int64)

Como a seleção pela faixa etária acabou excluíndo alunos que já concluíram o ensino médio, a feature TP_ST_CONCLUSAO acabou se tornando redundante e será excluída.

In [13]:
mat_alunos_df.drop(columns='TP_ST_CONCLUSAO', axis=1, inplace=True)

#### TP_ESCOLA

In [14]:
mat_alunos_df.TP_ESCOLA = mat_alunos_df.TP_ESCOLA.map({2:'Público', 3:'Privada'})

#### TP_LOCALIZACAO_ESC

In [15]:
mat_alunos_df.TP_LOCALIZACAO_ESC = mat_alunos_df.TP_LOCALIZACAO_ESC.map({1:'Urbana', 2:'Rural'})

### Transformando as features do questionário socioeconomico em variáveis quantitativas

In [95]:
quest_alunos_df = mat_alunos_df.copy()

As quatro primeiras questões do questionário socioeconômico dizem respeito à escolaridade do pai, da mãe assim como a ocupação de ambos. Essas variáveis considero interessante também torná-las quantitativas. Todavia, haverei de atribuir outro valor as respostas da categoria <font color='red'><i>"Não sei"</i></font>.<br><br>
Nas variáveis Q001 e Q002 da categoria A até a categoria G, irei atribuir valores de 0 à 6. Desta forma, para não perder mais dados e ciente de leves distorções, considero razoável atribuir à categoria H o valor da média aritmética de todos os termos, o que equivale à 3.<br><br>
Já nas variáveis Q003 e Q004 as categorias de A até a E, será atribuídos valores de 0 à 4. E igualmente, à última categoria F (a qual representa o valor "Não sei"), também será atribuído o valor da média aritmética, resultando no valor 2.

<font color='red'> Atenção</font><br>

Transformar a variável Q006 a qual diz respeito à faixa de renda, em uma variável quantitativa possa aumentar sua usabilidade. Entre o limite inferior e superior de cada faixa, optarei por inserir o seu limite superior.<br>

A última faixa (Q), cuja renda é "acima de R$ 22.000,00", será alterada para representar um "teto" de 30000. Isso para não conflitar com a faixa diretamente anterior (P).

In [96]:
def dict_renda():
    '''A função atribui um valor numérico para cada categoria de renda'''
    dict_renda = {'A':0, 'B':1100, 'C':1650, 'D':2200, 'E':2750, 'F':3300,'G':4400, 'H':5500, 'I':6600,
                  'J':7700, 'K':8800, 'L':9900, 'M':11000, 'N':13200,'O':16500, 'P':22000, 'Q':30000}
    return dict_renda

In [97]:
def auto_map_questionario(questao):
    '''Essa função reconhece o número de alternativas na questão e aplica o map correto.
    As transformando as variáveis em quantitativas'''
    
    qtde_alternativas = len(quest_alunos_df[questao].unique())
    
    if qtde_alternativas == 8:
        # mapeia a Q001 à Q002
        quest_alunos_df[questao] = quest_alunos_df[questao].map({'A':0, 'B':1, 'C':2, 'D':3, 'E':4, 'F':5, 'G':6, 'H':3})
        
    elif qtde_alternativas == 6:
        # mapeia a Q003 à Q004
        quest_alunos_df[questao] = quest_alunos_df[questao].map({'A':0, 'B':1, 'C':2, 'D':3, 'E':4, 'F':2})
        
    elif qtde_alternativas == 17:
        # mapeia a Q006
        quest_alunos_df[questao] = quest_alunos_df[questao].map(dict_renda())
    
    elif qtde_alternativas == 4:
        # mapeia a Q007
        quest_alunos_df[questao] = quest_alunos_df[questao].map({'A':0, 'B':1.5, 'C':3.5, 'D':5, 'E':4})
    
    # ambas mapeiam da Q008 até a última
    elif qtde_alternativas == 5:
        quest_alunos_df[questao] = quest_alunos_df[questao].map({'A':0, 'B':1, 'C':2, 'D':3, 'E':4})
        
    elif qtde_alternativas == 2:
        quest_alunos_df[questao] = quest_alunos_df[questao].map({'A':0, 'B':1})
        
    else:
        # pass Q005 que já é quantitativa
        pass

In [102]:
# recriando o nome da questão de Q001 à Q025 e repassando como argumento para a função auto_map_questionario()
_=[auto_map_questionario('Q0{:002}'.format(i)) for i in range(1, 26)]

#### Exportar base de dados já tratados

In [112]:
quest_alunos_df.to_csv('dados/dados_tratados.csv', sep=';', encoding='latin1')

#### Lista de variáveis qualitativas

In [61]:
lista_variaveis = list(quest_alunos_df.columns)

In [113]:
lista_variaveis_qualitativas = ['TP_SEXO','TP_COR_RACA','TP_ESCOLA','NO_MUNICIPIO_ESC','SG_UF_ESC','TP_LOCALIZACAO_ESC']

#### Lista de variaveis quantitativas

In [114]:
lista_variaveis_quantitativas = [var for var in lista_variaveis if var not in lista_variaveis_qualitativas]

<font color='red'>Necessário renomear as colunas</font>.

#  <a name="secao_3">3. Análise Descritiva</a>
<hr style='border: 1px solid cyan;'>

[voltar ao índice](#indice)

#### Descrição
* .describe().round(2)

In [116]:
quest_alunos_df[lista_variaveis_quantitativas].describe().round()

,NU_NOTA_MT,Q001,Q002,Q003,Q004,Q005,Q006,Q007,Q008,Q009,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
count,533953.0,533953.0,533953.0,533953.0,533953.0,533953.0,533953.0,533953.0,533953.0,533953.0,...,533953.0,533953.0,533953.0,533953.0,533953.0,533953.0,533953.0,533953.0,533953.0,533953.0
mean,549.0,4.0,4.0,2.0,2.0,4.0,4882.0,0.0,2.0,3.0,...,1.0,0.0,0.0,2.0,0.0,0.0,3.0,0.0,1.0,1.0
std,112.0,1.0,1.0,1.0,1.0,1.0,5970.0,1.0,1.0,1.0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
min,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25%,455.0,3.0,3.0,1.0,1.0,3.0,1650.0,0.0,1.0,2.0,...,0.0,0.0,0.0,1.0,0.0,0.0,2.0,0.0,0.0,1.0
50%,534.0,4.0,4.0,2.0,2.0,4.0,2750.0,0.0,1.0,2.0,...,1.0,0.0,0.0,1.0,0.0,0.0,3.0,0.0,1.0,1.0
75%,632.0,4.0,5.0,3.0,3.0,4.0,5500.0,0.0,2.0,3.0,...,1.0,0.0,1.0,2.0,1.0,1.0,4.0,0.0,2.0,1.0
max,953.0,6.0,6.0,4.0,4.0,20.0,30000.0,5.0,4.0,4.0,...,4.0,4.0,1.0,4.0,1.0,1.0,4.0,1.0,4.0,1.0

In [117]:
quest_alunos_df[lista_variaveis_qualitativas].describe().round(2)

,TP_SEXO,TP_COR_RACA,TP_ESCOLA,NO_MUNICIPIO_ESC,SG_UF_ESC,TP_LOCALIZACAO_ESC
count,533953,533953,533953,533953,533953,533953
unique,2,6,2,5205,27,2
top,Feminino,Branca,Público,São Paulo,SP,Urbana
freq,304794,270199,383307,30586,109722,518244

#### Coeficiente de Variação(?)

#### Matriz (simples) de correlação

In [118]:
quest_alunos_df[lista_variaveis_quantitativas].corr().round(2)

C:\Users\Thiago\AppData\Local\Temp/ipykernel_1604/2701350100.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  quest_alunos_df[lista_variaveis_quantitativas].corr().round(2)

,NU_NOTA_MT,Q001,Q002,Q003,Q004,Q005,Q006,Q007,Q008,Q009,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
NU_NOTA_MT,1.00,0.35,0.33,0.36,0.34,-0.06,0.42,0.23,0.37,0.24,...,0.26,0.18,0.31,0.32,0.15,0.22,0.25,0.19,0.43,0.18
Q001,0.35,1.00,0.56,0.59,0.46,-0.05,0.47,0.24,0.43,0.28,...,0.32,0.20,0.35,0.36,0.17,0.31,0.30,0.22,0.49,0.22
Q002,0.33,0.56,1.00,0.44,0.62,-0.07,0.42,0.22,0.39,0.27,...,0.29,0.17,0.31,0.32,0.13,0.28,0.28,0.19,0.45,0.23
Q003,0.36,0.59,0.44,1.00,0.56,-0.05,0.52,0.30,0.48,0.30,...,0.36,0.22,0.37,0.41,0.18,0.34,0.33,0.23,0.50,0.24
Q004,0.34,0.46,0.62,0.56,1.00,-0.07,0.49,0.30,0.45,0.30,...,0.33,0.21,0.34,0.38,0.16,0.32,0.30,0.21,0.48,0.23
Q005,-0.06,-0.05,-0.07,-0.05,-0.07,1.00,0.01,0.03,0.05,0.23,...,-0.08,0.01,-0.06,0.03,-0.02,-0.01,0.25,0.00,-0.00,-0.06
Q006,0.42,0.47,0.42,0.52,0.49,0.01,1.00,0.52,0.62,0.40,...,0.34,0.38,0.43,0.52,0.26,0.42,0.34,0.27,0.61,0.16
Q007,0.23,0.24,0.22,0.30,0.30,0.03,0.52,1.00,0.45,0.28,...,0.19,0.27,0.22,0.35,0.16,0.26,0.17,0.16,0.35,0.07
Q008,0.37,0.43,0.39,0.48,0.45,0.05,0.62,0.45,1.00,0.57,...,0.38,0.32,0.44,0.57,0.24,0.39,0.38,0.26,0.57,0.19
Q009,0.24,0.28,0.27,0.30,0.30,0.23,0.40,0.28,0.57,1.00,...,0.30,0.19,0.30,0.42,0.17,0.27,0.43,0.18,0.41,0.22
Q010,0.33,0.38,0.37,0.42,0.41,0.06,0.52,0.33,0.55,0.44,...,0.42,0.25,0.46,0.49,0.21,0.35,0.43,0.26,0.52,0.24
Q011,-0.07,-0.10,-0.05,-0.12,-0.08,0.08,-0.07,-0.03,-0.03,0.07,...,-0.04,-0.02,-0.06,-0.03,-0.00,-0.04,0.07,-0.08,-0.06,0.03
Q012,0.14,0.16,0.14,0.19,0.18,0.06,0.30,0.25,0.37,0.28,...,0.23,0.20,0.22,0.35,0.16,0.20,0.20,0.15,0.27,0.10
Q013,0.27,0.25,0.22,0.28,0.26,-0.02,0.35,0.23,0.39,0.31,...,0.36,0.19,0.36,0.39,0.21,0.28,0.32,0.20,0.39,0.20
Q014,0.25,0.34,0.32,0.38,0.35,-0.04,0.32,0.16,0.37,0.32,...,0.46,0.15,0.39,0.37,0.17,0.29,0.39,0.23,0.41,0.31
Q015,0.13,0.16,0.14,0.19,0.17,-0.01,0.27,0.17,0.24,0.18,...,0.20,0.25,0.24,0.24,0.15,0.20,0.17,0.10,0.26,0.10
Q016,0.26,0.32,0.29,0.36,0.33,-0.08,0.34,0.19,0.38,0.30,...,1.00,0.18,0.40,0.41,0.19,0.30,0.33,0.23,0.41,0.27
Q017,0.18,0.20,0.17,0.22,0.21,0.01,0.38,0.27,0.32,0.19,...,0.18,1.00,0.24,0.25,0.16,0.20,0.12,0.14,0.30,0.05
Q018,0.31,0.35,0.31,0.37,0.34,-0.06,0.43,0.22,0.44,0.30,...,0.40,0.24,1.00,0.44,0.25,0.34,0.32,0.26,0.49,0.18
Q019,0.32,0.36,0.32,0.41,0.38,0.03,0.52,0.35,0.57,0.42,...,0.41,0.25,0.44,1.00,0.29,0.41,0.40,0.28,0.53,0.19
Q020,0.15,0.17,0.13,0.18,0.16,-0.02,0.26,0.16,0.24,0.17,...,0.19,0.16,0.25,0.29,1.00,0.21,0.19,0.18,0.28,0.09
Q021,0.22,0.31,0.28,0.34,0.32,-0.01,0.42,0.26,0.39,0.27,...,0.30,0.20,0.34,0.41,0.21,1.00,0.28,0.27,0.40,0.15
Q022,0.25,0.30,0.28,0.33,0.30,0.25,0.34,0.17,0.38,0.43,...,0.33,0.12,0.32,0.40,0.19,0.28,1.00,0.17,0.43,0.32
Q023,0.19,0.22,0.19,0.23,0.21,0.00,0.27,0.16,0.26,0.18,...,0.23,0.14,0.26,0.28,0.18,0.27,0.17,1.00,0.30,0.13
Q024,0.43,0.49,0.45,0.50,0.48,-0.00,0.61,0.35,0.57,0.41,...,0.41,0.30,0.49,0.53,0.28,0.40,0.43,0.30,1.00,0.25
Q025,0.18,0.22,0.23,0.24,0.23,-0.06,0.16,0.07,0.19,0.22,...,0.27,0.05,0.18,0.19,0.09,0.15,0.32,0.13,0.25,1.00

Talvez aplicar uma redução de dimensionalidade?

#  <a name="secao_4">4. Comportamento da Variável Dependente (Y)</a>
[voltar ao índice](#indice)

<hr style='border: 1px solid cyan;'>

* Às principais features .value_counts(normalize=True)
* box plot inicial
* algum gráfico de linha (a depender do tipo de dado)
* etc.

#  <a name="secao_5">5.  Análise de Outliers</a>
<hr style='border: 1px solid cyan;'>

[voltar ao índice](#indice)

Para a exclusão de outliers, usarei como regra os valores abaixo de Q1 - 1.5 x Amplitude e valores acima de Q3 + 1.5 x Amplitude. Sendo que a amplitude é definida pelo valor Q1-Q3.

* função de limites
* função de exclusão
* função de gráficos boxplot, histograma e boxplot bivariada

#### Feature x
(aplicar as funções necessárias para cada feature)

#  <a name="secao_6">6. Gráficos</a>
<hr style='border: 1px solid cyan;'>

[voltar ao índice](#indice)

A aplicação de alguns gráficos que sejam pertinentes, tais como:
* Distribuição de frequências (distplot)
* Gráficos de dispersão (pairplot). Variável dependente x variáveis explicativas.
* Jointplot é outra opção.
* lmplot. Plota uma reta de regressão entre duas variáveis juntamente com a dispersão entre elas.
* Análise bivariada com gráficos de barras ou boxplot* 
* Gráfico de matriz de correlação (essencial)
* Para dados geográficos/geolocalização density_mapbox, etc.

#  <a name="secao_7">7. Transformação dos Dados</a>
<hr style='border: 1px solid cyan;'>

[voltar ao índice](#indice)

AVISO: <i>Desta etapa em diante, os passos são aplicáveis somente se for utilizar os dados para criação de um modelo linear ou para outros modelos de machine learning</i>

* ex: transformar valores numéricos em valor logarítimo com np.log(feature)
* ex normalizar(?)
* boolean para binário
* criar variáveis dummies para valores de texto
* outros exemplos a serem recuperados de encoding

Aplicar distplot para observar a nova distribuição de Frequências, ou outro tipo de gráfico a fim de observar os resultados das transformações.

#  <a name="secao_x">X. Outras seções/etapas a depender do objetivo</a>
<hr style='border: 1px solid cyan;'>

[voltar ao índice](#indice)

8. Verificar Relação Linear

9. Separar o dataset entre dados de treino e de teste <br>
importar train_test_split ou separar manualmente

10. importar, estanciar e treinar um ou mais modelos, seja este de Machine Learning tradicional ou deep learning (NLP, DNN, etc).
<br> Alguns modelos tradicionais de Machine Learning:

###### modelos de regressão linear (prever valores contínuos):
* Regressão Linear
* Regressão Polinomial
* Ridge Regression
* Lasso Regression
* Stepwise Regression
* Regressão Linar Bayesiana
    
###### modelos de clusterização (agrupar objetos similares):
* K-Means
* Mean-Shift
* DBSCAN
* EM/GMM
* Hierarchical Clustering
    
###### modelos de classificação (identificar a qual categoria pertence)
* Logistic Regression
* Stochastic Gradient Descent
* Naive Bayes
* K-Nearest Neighbors (KNN)
* Decision Tree
* Random Forest
* Support Vector Machine (SVM)

11. comparar os modelos e selecionar o mais eficiente
* Os métodos podem variar conforme os modelos

12. Métricas para avaliar o modelo estimado
* ex: modelo.summary()
* usar biblioteca statsmodel (import statsmodels.api as sm)
* Obter previsões e Coeficiente de Regressão. Por fim interpretar os coeficientes estimados

* Modelos de Regressão:
    * Mean Absolute Error (MAE)
    * Mean Squared Error (MSE)
    * Root Mean Squared Error (RMSE)
    * R² (R-Squared) <br>
    
* Modelos de Classificação:
    * Accuracy
    * Confusion Matrix (não é uma métrica, mas para alguns pode ser fundamental)
    * Precision and Recall
    * F1-Score
    * AU-ROC <br>
    
* Modelos de Clusterização
    * Rand Index
    * Mutual Information Based Scores
    * Homogeneity, completeness and V-measure
    * Fowlkes-Mallows Score
    * Silhouette Coefficent
    * Calinski-Harabsz Index
    * Contingency Matrix
    * Pair Confusion Matrix

13. Modificando e reavaliando modelo após ajuste

14. Efetuar análises gráficas dos resultados do modelo
* ex: scatterplot entre valores estimados e reais
* ex: distplot para análise de resíduos (y_treino - y_previsto_treino)

15. Criar um simulador simples

16. Salvar o modelo estimado

17. Efetuar o deploy do projeto
ex:
* Passo 1 -> Criar arquivo do Modelo(joblib)
* Passo 2 -> Escolher a forma de deploy:
    * Arquivo Executável + TKinter
    * Deploy em um Microsite (Flask)
    * Deploy apenas para uso direto (Streamlit)
* Passo 3 -> Outro arquivo Python (pode ser Jupyter ou PyCharm)
* Passo 4 -> Importar streamlit e criar código
* Passo 5 -> Atribuir ao botão o carregamento do modelo
* Passo 6 -> Deploy feito

18. Exportar dados criando dashboard PowerBI

#  <a name="conclusao">Conclusão</a>
<hr style='border: 1px solid cyan;'>

[voltar ao índice](#indice)

Ipsum aliquam adipisci adipisci neque labore. Numquam sit eius etincidunt dolore ipsum amet consectetur. Etincidunt ut quiquia labore sed. Amet eius dolore amet labore tempora dolorem magnam. Amet porro est consectetur magnam aliquam dolorem. Modi est consectetur est quiquia. Adipisci aliquam est consectetur tempora.